@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.title{
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
    color: red;
}
.title-box{
    display: flex;
    justify-content: center;
}
body{
    background-color: black;
}